{% extends 'base_with_buttons.html' %}

{% block title %}DISPLAY{% endblock %}

{% block content %}
<div class="container" id="content">
    <h1 id="squireNameHeader" class="text-center mt-2 mb-4">{{ squireName }}</h1>
    <div class="table-responsive">
        <table id="carPredictionTable" class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Junction Name</th>
                    <th scope="col">Predicted Cars</th>
                </tr>
            </thead>
            <tbody>
                {% for junction, count in junction_data.items() %}
                <tr>
                    <td>{{ count }}</td>
                    <td>{{ car_count }}</td>
                </tr>
                {% endfor %}
               
            </tbody>
        </table>
    </div>
    <p class="text-center"><a href="{{ map_location }}" target="_blank">View on Google Maps</a></p>
</div>

<style>
   
    body {
        background-color: #8B4513;
    }

   
    #carPredictionTable tbody tr:hover {
        background-color: #f5f5f5; 
        transition: background-color 0.3s ease;
    }
</style>
{% endblock %}
