{% extends 'base_no_buttons.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="squire">
        <div>
          <p><strong>Squire Name:</strong> Stadium</p>
          <p><strong>Junctions:</strong> Megenagn, Agona, Mexico, Piasa</p>
          <p><strong>Google Map Location:</strong> <a href="https://maps.app.goo.gl/6UC9EtcyaH6MjEQZA" target="_blank">View on Google Maps</a></p>
          <p><strong>Morning Traffic Manager:</strong> Mr. X +251929404324</p>
          <p><strong>Afternoon Traffic Manager:</strong> Mr. Y +251929404325</p>
          <p><strong>Evening Traffic Manager:</strong> Mr. Z +251929404326</p>
        </div>
        <button class="btn btn-primary btn-lg" type="button" onclick="window.location.href='/display'">Click here to see the number of cars</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="squire">
        <div>
          <p><strong>Squire Name:</strong> Mexico</p>
          <p><strong>Junctions:</strong> Junction A, Junction B, Junction C</p>
          <p><strong>Google Map Location:</strong> <a href="https://maps.app.goo.gl/MpXZLGxuiYP3toyH6" target="_blank">View on Google Maps</a></p>
          <p><strong>Morning Traffic Manager:</strong> Mr. A +251929404324</p>
          <p><strong>Afternoon Traffic Manager:</strong> Mr. B +251929404324</p>
          <p><strong>Evening Traffic Manager:</strong> Mr. C +251929404324</p>
        </div>
        <button class="btn btn-primary btn-lg" type="button" onclick="window.location.href='/display'">Click here to see the number of cars</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="squire">
        <div>
          <p><strong>Squire Name:</strong> Megenagna</p>
          <p><strong>Junctions:</strong> Junction X, Junction Y, Junction Z</p>
          <p><strong>Google Map Location:</strong> <a href="https://maps.app.goo.gl/vKvPeNNkVM8K1CgN7" target="_blank">View on Google Maps</a></p>
          <p><strong>Morning Traffic Manager:</strong> Mr. P +251929404324</p>
          <p><strong>Afternoon Traffic Manager:</strong> Mr. Q +251929404324</p>
          <p><strong>Evening Traffic Manager:</strong> Mr. R +251929404324</p>
        </div>
        <button class="btn btn-primary btn-lg" type="button" onclick="window.location.href='/display'">Click here to see the number of cars</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
