{% extends 'base_no_buttons.html' %}

{% block content %}
<div class="container">
  <div class="row">
    {% for squire in squires %}
    <div class="col-sm-12 col-md-4">
      <div class="squire">
        <div>
          <p><strong>Squire Name:</strong> {{ squire.name }}</p>
          <p><strong>Junctions:</strong> {{ squire.junctions }}</p>
          <p><strong>Google Map Location:</strong> <a href="{{ squire.map_location }}" target="_blank">View on Google Maps</a></p>
          <p><strong>Morning Traffic Manager:</strong> {{ squire.morning_manager }}</p>
          <p><strong>Afternoon Traffic Manager:</strong> {{ squire.afternoon_manager }}</p>
          <p><strong>Evening Traffic Manager:</strong> {{ squire.evening_manager }}</p>
        </div>
        <button class="btn btn-primary btn-lg" type="button" onclick="redirectToDisplay('{{ squire.name }}', '{{ squire.junctions }}', '{{ squire.map_location }}')">Click here to see the number of cars</button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  function redirectToDisplay(squireName, junctions, mapLocation) {
    // Pass data to display.html using query parameters
    window.location.href = `/display?squireName=${encodeURIComponent(squireName)}&junctions=${encodeURIComponent(junctions)}&mapLocation=${encodeURIComponent(mapLocation)}`;
  }
</script>
{% endblock %}
